NODE_ENV=development
APP_ENV=development
APP_URL=https://wvsdemo.mainvps.net
NEXT_PUBLIC_APP_URL=https://wvsdemo.mainvps.net

DATABASE_URL=postgres://postgres:postgres@127.0.0.1:54322/postgres

NEXT_PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
NEXT_PUBLIC_SUPABASE_ANON_KEY=local-anon-key
SUPABASE_SERVICE_ROLE_KEY=local-service-role-key

SESSION_SECRET=EXPRESS_SESSION_SECRET
SESSION_COOKIE_NAME_USER=pd_user_session
SESSION_COOKIE_NAME_ADMIN=pd_admin_session
CUSTOMER_SESSION_TTL_HOURS=720
ADMIN_SESSION_TTL_HOURS=24
CUSTOMER_SESSION_MAX_CONCURRENT=5

RAZORPAY_KEY_ID=rzp_test_vBKGiDcWR35pNq
RAZORPAY_KEY_SECRET=zeslxMD2TK1nsuiuXDwiSq88
RAZORPAY_WEBHOOK_SECRET=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpZCI6IjY4MjVj

PAYPAL_API_URL=https://api-m.sandbox.paypal.com
PAYPAL_CLIENT_ID=AVWgT-h5Qbrwp2Mant_Rm--l25doTLKUQqtWR5nj_CGV_ZG263fCtOpDGaA9f588x0x5CSo3-0D5uV51
PAYPAL_CLIENT_SECRET=EEDKV2zBQeKoueBA6Dhc5ZkgqoSMxrKW5ny1n1e38KapHy03FjPtfHzj9Wf5UESwaCygFptKkYTOfj7_

EMAIL_PROVIDER=gmail
EMAIL_FROM_ADDRESS=gouravchouhan.mainvps@gmail.com
EMAIL_FROM_NAME=PetaDot
EMAIL_SMTP_HOST=smtp.gmail.com
EMAIL_SMTP_PORT=465
EMAIL_SMTP_USER=gouravchouhan.mainvps@gmail.com
EMAIL_SMTP_PASSWORD=gyzn nuum lelh pcee
EMAIL_SMTP_SECURE=false

STORAGE_BUCKET_TICKET_ATTACHMENTS=
STORAGE_BUCKET_SCAN_SCREENSHOTS=
STORAGE_BUCKET_SCAN_EXPORTS=
STORAGE_BUCKET_DMS_EVIDENCE=
STORAGE_BUCKET_WVS_ARTIFACTS=
STORAGE_BUCKET_REPORTS=

SEED_DEFAULT_ADMIN_DEPARTMENT=Operations
SEED_DEFAULT_ADMIN_ROLE=Super Admin
SEED_DEFAULT_ADMIN_EMAIL=admin@petadot.local
SEED_DEFAULT_ADMIN_NAME=Petadot Admin
SEED_DEFAULT_ADMIN_PASSWORD_HASH=scrypt:7d0a484e62f26f8e2714ad8cc90fc27f:d785b39325a55c3d11c87c3b1932e0ddbf8a162ef37af5d1f40b73e58ff9cf30f13156f3e0c76532cfae49180b86be7c005127373f4963adeae9e902aae5773c
